.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.person {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-size: clamp(1rem, 3vw, 2em);
  color: var(--clr-light);
}

.hod {
  background-color: var(--clr-hod);
}

.daniel {
  background-color: var(--clr-daniel);
}

.maayan {
  background-color: var(--clr-maayan);
}

.omri {
  background-color: var(--clr-omri);
}

.sum {
  font-weight: bold;
}

@media (min-width: 35em) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
