.container {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.btn {
  width: max-content;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  cursor: pointer;
  background-color: var(--clr-accent);
  box-shadow: var(--shadow-element);
  color: white;
}

.btn-alt {
  background-color: var(--clr-light);
  outline: 2px solid var(--clr-accent);
  color: var(--clr-accent);
}

.btn:active {
  transform: scale(0.97);
}

.clear {
  margin-right: auto;
}

@media (min-width: 35em) {
  .btn {
    font-size: 1.25em;
  }
}
