@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply w-max py-2 px-4 font-bold rounded cursor-pointer bg-accent shadow text-white sm:text-2xl active:scale-95;
  }

  .btn-alt {
    @apply w-max py-2 px-4 font-bold rounded cursor-pointer shadow sm:text-2xl bg-light text-accent outline outline-2 outline-current active:scale-95;
  }

  .person {
    @apply flex justify-center items-center gap-4 p-4 text-light text-base sm:text-lg md:text-2xl lg:text-4xl;
  }
}

#__next {
  width: 100vw;
  height: 100vh;
}

body {
  text-shadow: 0 2px 1px hsla(0, 100%, 0%, 0.1);
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  width: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
